@import '../../../styles.scss';

.page-container {
  background-image: url("../../../assets/images/cat_1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
