<div class="page-container cat_one_bg">
  <app-title [title]="pageTitle"/>
  <div class="page-content">
    <div class="top">
      <h1 class="primary">{{ "PAGES.MAIN.SUBTITLE" | translate}}</h1>
      <div class="menu-tip secondary-text">
        <div class="arrow">
          <mat-icon aria-hidden="true" fontIcon="keyboard_double_arrow_left"></mat-icon>
        </div>
        <h1 style="white-space: pre-wrap">{{ "PAGES.MAIN.MENU_PROMPT" | translate}}</h1>
      </div>
    </div>
    <div class="bottom">
      <div class="carousel-container glass-effect">
        <mat-carousel
          [autoplay]="true"
          [interval]="5000"
          [proportion]="40"
          color="primary"
          maxWidth="auto"
          [maintainAspectRatio]="true"
          [slides]="slides.length"
          [loop]="true"
          [hideArrows]="false"
          [hideIndicators]="false"
          [useKeyboard]="true"
          orientation="ltr"
        >
          <mat-carousel-slide
            #matCarouselSlide
            *ngFor="let slide of slides; let i = index"
            [hideOverlay]="true"
          >
            <div class="cat-fact">
              <span>{{ slide }}</span>
            </div>
          </mat-carousel-slide>
        </mat-carousel>
      </div>
      <button class="more-facts-btn" mat-raised-button color="accent" (click)="getMoreFacts()">
        {{ "PAGES.MAIN.MORE_FACTS" | translate}}
      </button>
    </div>
  </div>
</div>
