@import '../../../styles.scss';

.page-container {
  .page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    .menu-tip {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;
      .arrow {
        flex-grow: 1;
        mat-icon {
          font-size: 90px;
          font-weight: 700;
          position: relative;
          left: -20%;
          animation-name: swing-left-right;
          animation-duration: 4s;
          animation-iteration-count: infinite;
        }
      }
      h1 {
        margin-right: 2rem;
      }
    }
    .carousel-container {
      width: 700px;
      height: auto;
      margin-bottom: 20px;
      border-radius: 40px;
      padding-bottom: 50px;
    }
    .cat-fact {
      --carousel-button-space: 80px;
      width: calc(100% - calc(var(--carousel-button-space) * 2));
      height: 100%;
      padding: 0 var(--carousel-button-space);
      font-size: 24px;
      line-height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        max-height: 210px;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    .more-facts-btn {
      margin-bottom: 100px;
    }
  }
}

@keyframes swing-left-right {
  0% {
    left: -20%;
  }
  50% {
    left: 20%;
  }
  100% {
    left: -20%;
  }
}
