<div class="page-container cat_one_bg">
  <app-title [title]="pageTitle"/>
  <div class="page-content">
    <div class="top">
      <h1 class="primary">Welcome to Cat's Book Nook</h1>
      <div class="menu-tip secondary-text">
        <div class="arrow">
          <mat-icon aria-hidden="true" fontIcon="keyboard_double_arrow_left"></mat-icon>
        </div>
        <h1>Browse our menu<br>to get started!</h1>
      </div>
    </div>
    <div class="bottom">
      <h2>here's some cat facts for you!</h2>
    </div>
  </div>
</div>
