// VARIABLES
$primary-color: rgba(123, 31, 162, 1); // from mat theme 'primary'
$primary-color-light: rgba(123, 31, 162, .8);
$primary-color-fade: rgba(123, 31, 162, .5);
$secondary-color: rgba(105, 240, 174, 1); // from mat theme 'accent'
$secondary-color-fade: rgba(105, 240, 174, .5);

$white: #fff;
$black: #111;

$warning: #fd5555;
$success: #26d734;
$notice: #4abdf1;
$warning-strong: crimson;
$success-strong: #026502;
$notice-strong: #2c2ced;
