// VARIABLES
$primary-color: rgba(128, 0, 128, 1);
$primary-color-fade: rgba(128, 0, 128, .5);
$secondary-color: rgba(14, 213, 53, 1);
$secondary-color-fade: rgba(14, 213, 53, .5);

$white: #fff;
$black: #111;

$warning: #fd5555;
$success: #26d734;
$notice: #4abdf1;
$warning-strong: crimson;
$success-strong: #026502;
$notice-strong: #2c2ced;

// BASIC
body {
  margin: 0;
}
.primary {
  color: $primary-color;
}
.secondary {
  color: $secondary-color;
}
.secondary-text {
  color: $secondary-color;
  text-shadow: -1px 1px $black, 1px 1px $black, 1px 0 $black, 1px -1px $black;
}

// BASIC PAGE
.page-container {
  min-height: 100vh !important;
  &:has(> app-title, > .page-content) {
    display: flex;
    flex-direction: column;
    .page-content {
      flex-grow: 1;
      padding: 20px;
    }
  }
  &.cat_one_bg {
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      opacity: 0.6;
      z-index: -1;
      background-image: url("./assets/images/cat_1.jpg");
      background-repeat: no-repeat;
      background-repeat-y: repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

// MAT-ICONS
mat-icon {
  width: auto;
  height: auto;
  font-size: inherit;
  font-weight: inherit;
}

// NOTIFICATIONS
mat-snack-bar-container {
  &.error-message {
    & > div {
      background-color: $warning !important;
      padding: 10px 20px;
      simple-snack-bar {
        gap: 30px;
        div[matsnackbarlabel] {
          color: $white !important;
          font-size: 20px !important;
        }
        div[matsnackbaractions] {
          button {
            background: $warning-strong !important;
            color: $white !important;
            padding: 10px 20px;
          }
        }
      }
    }
  }
  &.success-message {
    & > div {
      background-color: $success !important;
      padding: 10px 20px;
      simple-snack-bar {
        gap: 30px;
        div[matsnackbarlabel] {
          color: $black !important;
          font-size: 20px !important;
        }
        div[matsnackbaractions] {
          button {
            background: $success-strong !important;
            color: $white !important;
            padding: 10px 20px;
          }
        }
      }
    }
  }
  &.notice-message {
    & > div {
      background-color: $notice !important;
      padding: 10px 20px;
      simple-snack-bar {
        gap: 30px;
        div[matsnackbarlabel] {
          color: $black !important;
          font-size: 20px !important;
        }
        div[matsnackbaractions] {
          button {
            background: $notice-strong !important;
            color: $white !important;
            padding: 10px 20px;
          }
        }
      }
    }
  }
}
