@import './variables';

:root {
  // pagination overwrites
  --mat-paginator-container-background-color: #{$primary-color-light};
  --mat-paginator-container-text-color: #{$secondary-color};
  --mat-paginator-container-text-size: 16px;
  --mat-paginator-enabled-icon-color: #{$secondary-color};
  --mat-paginator-disabled-icon-color: #{$secondary-color-fade};
  // expansion pannel overwrites
  --mat-expansion-container-background-color: #{$primary-color-light};
  --mat-expansion-header-text-color: #{$secondary-color};
  --mat-expansion-header-description-color: #{$secondary-color-light};
  --mat-expansion-actions-divider-color: #{$secondary-color-fade};
  --mat-expansion-header-text-size: 28px;
  // form field overwrites
  --mat-form-field-container-text-size: 16px;
  --mat-form-field-container-text-line-height: 18px;
  --mdc-outlined-text-field-label-text-size: 16px;
  --mdc-filled-text-field-label-text-size: 16px;
  --mat-form-field-outlined-label-text-populated-size: 18px;
  --mdc-outlined-text-field-focus-outline-color: #{$secondary-color};
  --mdc-outlined-text-field-focus-label-text-color: #{$secondary-color};
  // mat divider overwrites
  --mat-divider-color: #{$secondary-color-fade};
}

// MIXINS
@mixin fancy-scrollbar() {
  &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
  }
  &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: rgba($color: $secondary-color, $alpha: 0.3);
  }
  &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: rgba($color: $secondary-color, $alpha: 0.6);
  }
}

// BASIC
body {
  margin: 0;
  @include fancy-scrollbar;
}
.primary {
  color: $primary-color;
}
.secondary {
  color: $secondary-color;
}
.secondary-text {
  color: $secondary-color;
  text-shadow: -1px 1px $black, 1px 1px $black, 1px 0 $black, 1px -1px $black;
}
.glass-effect {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.hover-glass-effect:hover {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

// BASIC PAGE
.page-container {
  min-height: 100vh !important;
  &:has(> app-title, > .page-content) {
    display: flex;
    flex-direction: column;
    .page-content {
      flex-grow: 1;
      padding: 20px;
    }
  }
  &[class$="_bg"] {
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      opacity: 0.6;
      z-index: -1;
      background-repeat: no-repeat;
      background-repeat-y: repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &.cat_one_bg {
    &:before {
      background-image: url("./assets/images/cat_1.jpg");
    }
  }
  &.cat_books_bg {
    &:before {
      background-image: url("./assets/images/cat_books.jpg");
    }
  }
}

// MAT-ICONS
mat-icon {
  width: auto;
  height: auto;
  font-size: inherit;
  font-weight: inherit;
}

// NOTIFICATIONS
mat-snack-bar-container {
  &.error-message {
    & > div {
      background-color: $warning !important;
      padding: 10px 20px;
      simple-snack-bar {
        gap: 30px;
        div[matsnackbarlabel] {
          color: $white !important;
          font-size: 20px !important;
        }
        div[matsnackbaractions] {
          button {
            background: $warning-strong !important;
            color: $white !important;
            padding: 10px 20px;
          }
        }
      }
    }
  }
  &.success-message {
    & > div {
      background-color: $success !important;
      padding: 10px 20px;
      simple-snack-bar {
        gap: 30px;
        div[matsnackbarlabel] {
          color: $black !important;
          font-size: 20px !important;
        }
        div[matsnackbaractions] {
          button {
            background: $success-strong !important;
            color: $white !important;
            padding: 10px 20px;
          }
        }
      }
    }
  }
  &.notice-message {
    & > div {
      background-color: $notice !important;
      padding: 10px 20px;
      simple-snack-bar {
        gap: 30px;
        div[matsnackbarlabel] {
          color: $black !important;
          font-size: 20px !important;
        }
        div[matsnackbaractions] {
          button {
            background: $notice-strong !important;
            color: $white !important;
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

// MAT OVERWRITES
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  justify-content: space-between;
  mat-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
  }
}
.mat-expansion-panel-header.mat-expanded {
  background: inherit;
}
.mat-expansion-panel-body {
  padding: 16px 24px !important;
}
.mat-mdc-form-field {
  min-width: 250px !important;
}
.mat-divider {
  --mat-divider-width: 2px !important;
  margin: 5px 0 !important;
}
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: $secondary-color !important;
}
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
  color: $black !important;
}
